<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:context="http://www.springframework.org/schema/context"
    xmlns:aop="http://www.springframework.org/schema/aop"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="
        http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd
        http://www.springframework.org/schema/aop
        http://www.springframework.org/schema/aop/spring-aop.xsd">

    <bean id="softwareEngineer" class="practice.spring.sprice.SoftwareEngineer">
    </bean>
    <bean id="assistant" class="practice.spring.sprice.Assistant">
    </bean>
    <bean id="productManager" class="practice.spring.sprice.ProductManager">
        <property name="engineer" ref="softwareEngineer" />
        <property name="assistant" ref="assistant" />
    </bean>

</beans>